In [2]:
from bs4 import BeautifulSoup
import requests as r

wiki_page_request = r.get("https://fr.wikipedia.org/wiki/Chronologie_des_satellites_artificiels_et_sondes_spatiales#Ann%C3%A9es_2020")
wiki_page_text = wiki_page_request.text

soup = BeautifulSoup(wiki_page_text, 'html.parser')

In [5]:
soup.title

In [14]:
#Toutes les tables dans une variables
all_table = soup.find_all('table')

In [16]:
#On récupère les headers, qui sont les mêmes pour toutes les tables
headers = [header.text.strip() for header in all_table[0].find_all('th')]

In [17]:
headers

['Date', 'Nom de la mission', 'État', 'Destination (attitude)', 'Commentaire']

In [18]:
rows = []

for table in all_table:
    # Find all `tr` tags
    data_rows = table.find_all('tr')

    for row in data_rows:
        value = row.find_all('td')
        beautified_value = [ele.text.strip() for ele in value]
        # Remove data arrays that are empty
        if len(beautified_value) == 0:
            continue
        rows.append(beautified_value)

In [33]:
#Le dernier tableau de 2020 contient une colonne en plus et il manque quelques données
len(rows[1])
for i in range (len(rows)):
    if len(rows[i])!=5:
        print(f'en position {i}, la liste fait {len(rows[i])} de long')

en position 373, la liste fait 6 de long
en position 374, la liste fait 6 de long
en position 375, la liste fait 6 de long

In [63]:
#J'ai complété tout ça à la main
rows[375]

['30 juillet 2020',
 'États-Unis',
 'Perseverance',
 'Mars',
 'Succès. Lancé le 30 juillet avec une fusée Atlas V et atterrit le 18 février 2021 avec le petit hélicoptère Ingenuity.']

In [64]:
#Création d'un DataFrame
import pandas as pd
df_wiki = pd.DataFrame(rows, columns = headers)

In [66]:
df_wiki.head(4)

,Date,Nom de la mission,État,Destination (attitude),Commentaire
0,4 octobre 1957,Spoutnik 1,Union soviétique,Terre (orbiteur),Succès : premier satellite artificiel en orbit...
1,3 novembre 1957,Spoutnik 2,Union soviétique,Terre (orbiteur),Succès partiel : premier satellite artificiel ...
2,6 décembre 1957,Vanguard TV3,États-Unis,Terre (orbiteur),Échec : explose sur le champ de tir
3,1er février 1958,Explorer 1,États-Unis,Terre (orbiteur),Succès : premier satellite artificiel américai...

In [159]:
df_wiki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    376 non-null    object
 1   Nom de la mission       376 non-null    object
 2   État                    376 non-null    object
 3   Destination (attitude)  376 non-null    object
 4   Commentaire             376 non-null    object
dtypes: object(5)
memory usage: 14.8+ KB

In [97]:
#Exportation du DataFrame en .csv
#df_wiki.to_csv(r'C:\Users\m2lan\Documents\WCS\Hackaton\Scrapping_wiki.csv')